<table class="table">
<tbody>
	{%- set prev_year = 1900 %}
	{%- for entry in entries %}
	<tr>
		<td>
			<span class="date">
				{% if entry.fields['year'] != prev_year %}
				<big><strong>{{ entry.fields['venue_short'] }}</strong></big><br />
				{% endif %}
				{%- set prev_year = entry.fields['year'] %}
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				{%- if url %}
				<a href="{{ url|escape }}">{{ entry|title }}</a>.
				{%- else %}
				{{ entry|title }}.
				{%- endif %}
			</span><br />
			<span class="authors">
				{{ entry.persons['author']|author_list }}.
			</span><br />
			<span class="links">
			{%- for type, url in (entry|extra_urls).items() %}
				[<a href="{{ url|escape }}">{{ type|escape }}</a>]
			{%- endfor %}
				{%- if entry.fields['abstract'] %}
				<details><summary>Abstract</summary>
				{%- endif %}
			</span>
			{%- if entry.fields['abstract'] %}
			<div id="abstract_{{entry.fields['key']}}" class="abstract">
			{{ entry.fields['abstract'] |escape }}
			</div>
			</details>
			{%- endif %}
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>
